# Loggers
# setup_logger -> logger exclusivo do setup
LOGGER_SETUP_LEVEL='WARNING'
LOGGER_SETUP_NAME='config_setup'
# Nível default para todos os loggers caso não configurado
LOGGER_DEFAULT_LEVEL='WARNING'

# Logs
# Pasta onde salvar os logs
# Se mudar aqui, tem que mudar em logging.conf.json também
LOGS_DIR='logs'
# Arquivo JSON de configuração dos logs
LOG_JSON_CONFIG='logging.conf.json'
